{% extends "layout.html" %}
{% block content %}

  
    <form method="POST" action="">
	{{ form.hidden_tag() }}
	<fieldset class="form-group">
	<div class="form-group">
	 {{ form.username.label(class="form-control-label") }}
	 {{form.username(class="form-control form-control-lg")}}
	 </div>
	 </fieldset>
	 <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
             </div>
    </form>
	 {% for post in posts.items %}
        <article class="media content-section">
		 <img class="rounded-circle article-image" src="{{url_for('static', filename='profile_pics/'+post.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.username }}</a>
              <small class="text-muted">{{ post.email }}</small>
            </div>
            <p class="article-content">{{ post.username }}</p>
            <small class="text-muted">{{post.state}}</small>
            <small class="text-muted">{{post.age}}</small>
            <small class="text-muted">{{post.education}}</small>
			<small class="text-muted">{{post.gender}}</small>
          </div>
        </article>
    {% endfor %}
	{% for page_num in posts.iter_pages(left_edge=4, right_edge=4, left_current=4, right_current=4)%}
	 {% if page_num %}
	   {% if posts.page==page_num %}
        <a class ="btn btn-info mb-4" href="{{url_for('admin',page=page_num)}}">{{page_num}}</a>
		
	   {% else %}
	    <a class ="btn btn-outline-info mb-4" href="{{url_for('admin',page=page_num)}}">{{page_num}}</a>
	    {% endif %}
	  {% else %}
	  
	 {% endif %} 
    {% endfor %}





{% endblock content %}