<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	
 <!-- Footer -->
    <footer>
      <div class="container-fluid padding">
      <div class="row text-center">
          <div class="col-md-6">
              <hr class="light">
              <p>Contact Us</p>
              <hr class="light">
              <p>04 123 123 12</p>
              <p>example@exampleemail.com</p>
              <p>example address</p>
              <p>Melbourne, Australia, 0000</p>
          </div>
          <div class="col-md-6">
              <hr class="light">
              <p>Staff Hours</p>
              <hr class="light">
              <p>Monday - Friday: 0900 - 1700</p>
              <p>Saturday: 1100 - 1600</p>
              <p>Sunday: Unavailable</p>
              <p></p>
          </div>
      </div>
      </div>
  </footer>
 </body>
</html> 